:host {
    display: flex;    


}

.left-side {
    width:200px;
    background:lightgray;
    padding:20px;
}

.right-side {
}

game-view {
    position: relative;
    margin:10px;
}

.game-container {

}


